flows.json
[
    {
        "id": "1e1ea9c89be2f4e2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "79a845b67ac10bba",
        "type": "debug",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 460,
        "wires": []
    },
    {
        "id": "a68ebb36c438c018",
        "type": "ui_gauge",
        "z": "1e1ea9c89be2f4e2",
        "name": "Temperature",
        "group": "8a845756e70de7d6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "",
        "label": "C°",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 750,
        "y": 680,
        "wires": []
    },
    {
        "id": "69bdf3efbab6e55d",
        "type": "ui_gauge",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "group": "9ab303a3783bee98",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "50",
        "seg2": "70",
        "className": "",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "ae1df0254f718ee4",
        "type": "ui_switch",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "label": "Light 01",
        "tooltip": "",
        "group": "10989641bfd1e339",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "GrowBox/Lights/Light01",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 60,
        "y": 20,
        "wires": [
            [
                "27d2248c6eea9748"
            ]
        ]
    },
    {
        "id": "ba00f6746f0fde1b",
        "type": "ui_switch",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "label": "Light 02",
        "tooltip": "",
        "group": "10989641bfd1e339",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "GrowBox/Lights/Light02",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 60,
        "y": 80,
        "wires": [
            [
                "27d2248c6eea9748"
            ]
        ]
    },
    {
        "id": "03a74d255f2e24c2",
        "type": "ui_switch",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "label": "Light 03",
        "tooltip": "",
        "group": "10989641bfd1e339",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "GrowBox/Lights/Light03",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 60,
        "y": 140,
        "wires": [
            [
                "27d2248c6eea9748"
            ]
        ]
    },
    {
        "id": "7ef8fa091ba22613",
        "type": "ui_switch",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "label": "Grow Light",
        "tooltip": "",
        "group": "10989641bfd1e339",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "GrowBox/GrowLight",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 200,
        "wires": [
            [
                "27d2248c6eea9748"
            ]
        ]
    },
    {
        "id": "a779156687d65236",
        "type": "ui_switch",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "label": "Fan 1",
        "tooltip": "",
        "group": "3ea94f3affa19fc2",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "GrowBox/Fans/Fan01",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 50,
        "y": 300,
        "wires": [
            [
                "5d98a906f4fbf3f6"
            ]
        ]
    },
    {
        "id": "f8a29edfbe849d68",
        "type": "ui_switch",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "label": "Fan 2",
        "tooltip": "",
        "group": "3ea94f3affa19fc2",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "GrowBox/Fans/Fan02",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 50,
        "y": 360,
        "wires": [
            [
                "5d98a906f4fbf3f6"
            ]
        ]
    },
    {
        "id": "d533909a1ebd31bf",
        "type": "ui_chart",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "group": "8a845756e70de7d6",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "bezier",
        "nodata": "....",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#efa342",
            "#aec7e8",
            "#efa945",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "9406034eda77f939",
        "type": "ui_switch",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "label": "pumps",
        "tooltip": "",
        "group": "9bfb362a4ee6e6c7",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "GrowBox/Motors",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 50,
        "y": 520,
        "wires": [
            [
                "cf5f7b007ee4d174"
            ]
        ]
    },
    {
        "id": "46aed2e954b68f0d",
        "type": "ui_switch",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "label": "All Lights",
        "tooltip": "",
        "group": "92a97809ced03298",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "GrowBox/AllLights",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 60,
        "y": 580,
        "wires": [
            [
                "4f2822c13fa0608f"
            ]
        ]
    },
    {
        "id": "c55847ab049dda4c",
        "type": "ui_switch",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "label": "All Fans",
        "tooltip": "",
        "group": "1f0c14d8bb103421",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "GrowBox/AllFans",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 60,
        "y": 640,
        "wires": [
            [
                "ad71826e5739ad0a"
            ]
        ]
    },
    {
        "id": "537d4d101ef4f125",
        "type": "ui_switch",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "label": "All Controls",
        "tooltip": "",
        "group": "8a8116591bd0b592",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "GrowBox/AllControls",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 700,
        "wires": [
            [
                "f3bff7c961edc4f0"
            ]
        ]
    },
    {
        "id": "27d2248c6eea9748",
        "type": "mqtt out",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8aa1c2ee1acb3040",
        "x": 270,
        "y": 100,
        "wires": []
    },
    {
        "id": "5d98a906f4fbf3f6",
        "type": "mqtt out",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8aa1c2ee1acb3040",
        "x": 250,
        "y": 360,
        "wires": []
    },
    {
        "id": "cf5f7b007ee4d174",
        "type": "mqtt out",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8aa1c2ee1acb3040",
        "x": 250,
        "y": 520,
        "wires": []
    },
    {
        "id": "4f2822c13fa0608f",
        "type": "mqtt out",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8aa1c2ee1acb3040",
        "x": 250,
        "y": 580,
        "wires": []
    },
    {
        "id": "ad71826e5739ad0a",
        "type": "mqtt out",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8aa1c2ee1acb3040",
        "x": 250,
        "y": 640,
        "wires": []
    },
    {
        "id": "f3bff7c961edc4f0",
        "type": "mqtt out",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8aa1c2ee1acb3040",
        "x": 250,
        "y": 700,
        "wires": []
    },
    {
        "id": "a3371d5b1797cbd6",
        "type": "mqtt in",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "topic": "GrowBox/Humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "8aa1c2ee1acb3040",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 510,
        "y": 100,
        "wires": [
            [
                "69bdf3efbab6e55d",
                "ab034a83bbb7e6ad"
            ]
        ]
    },
    {
        "id": "1a45feaba7cc8975",
        "type": "ui_gauge",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "group": "eb5c8d156ad30bb4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#54f5f8",
            "#00b3ff",
            "#00ff1e"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 710,
        "y": 380,
        "wires": []
    },
    {
        "id": "e13308b13c8e5087",
        "type": "mqtt in",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "topic": "GrowBox/Temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "8aa1c2ee1acb3040",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 520,
        "y": 640,
        "wires": [
            [
                "d533909a1ebd31bf",
                "a68ebb36c438c018"
            ]
        ]
    },
    {
        "id": "ae2aa41536b0f500",
        "type": "mqtt in",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "topic": "GrowBox/HeatIndex",
        "qos": "2",
        "datatype": "auto",
        "broker": "8aa1c2ee1acb3040",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 510,
        "y": 340,
        "wires": [
            [
                "1a45feaba7cc8975",
                "aab59e3c8331614d"
            ]
        ]
    },
    {
        "id": "2ee86553cbd8a757",
        "type": "debug",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "aab59e3c8331614d",
        "type": "ui_chart",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "group": "eb5c8d156ad30bb4",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Heat Index",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff61fa",
            "#aec7e8",
            "#ff7f0e",
            "#10da10",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#7a42ae",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ab034a83bbb7e6ad",
        "type": "ui_chart",
        "z": "1e1ea9c89be2f4e2",
        "name": "",
        "group": "9ab303a3783bee98",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#efa742",
            "#aec7e8",
            "#491c4f",
            "#2ca02c",
            "#98df8a",
            "#ff0000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "2fdf297ea1804110",
        "type": "ui_spacer",
        "z": "1e1ea9c89be2f4e2",
        "name": "spacer",
        "group": "ee95f8b140545c44",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "f0ec826b6919304d",
        "type": "ui_spacer",
        "z": "1e1ea9c89be2f4e2",
        "name": "spacer",
        "group": "9bfb362a4ee6e6c7",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "d6a11e31a02772e3",
        "type": "ui_spacer",
        "z": "1e1ea9c89be2f4e2",
        "name": "spacer",
        "group": "9bfb362a4ee6e6c7",
        "order": 6,
        "width": "1",
        "height": "1"
    },
    {
        "id": "1ce4f4a64f6c7f68",
        "type": "ui_spacer",
        "z": "1e1ea9c89be2f4e2",
        "name": "spacer",
        "group": "3ea94f3affa19fc2",
        "order": 1,
        "width": "1",
        "height": "1"
    },
    {
        "id": "f768972be518a1c4",
        "type": "ui_spacer",
        "z": "1e1ea9c89be2f4e2",
        "name": "spacer",
        "group": "92a97809ced03298",
        "order": 7,
        "width": "1",
        "height": "1"
    },
    {
        "id": "7a8ea47a7faa62a7",
        "type": "ui_spacer",
        "z": "1e1ea9c89be2f4e2",
        "name": "spacer",
        "group": "3ea94f3affa19fc2",
        "order": 5,
        "width": "4",
        "height": "1"
    },
    {
        "id": "8a845756e70de7d6",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "a712ba721618f35b",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9ab303a3783bee98",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "a712ba721618f35b",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "10989641bfd1e339",
        "type": "ui_group",
        "name": "Light Controls",
        "tab": "a712ba721618f35b",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ea94f3affa19fc2",
        "type": "ui_group",
        "name": "Exhaust Controls",
        "tab": "a712ba721618f35b",
        "order": 5,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9bfb362a4ee6e6c7",
        "type": "ui_group",
        "name": "Pumps",
        "tab": "a712ba721618f35b",
        "order": 6,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "92a97809ced03298",
        "type": "ui_group",
        "name": "All Lights",
        "tab": "a712ba721618f35b",
        "order": 7,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1f0c14d8bb103421",
        "type": "ui_group",
        "name": "All Fans",
        "tab": "a712ba721618f35b",
        "order": 8,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a8116591bd0b592",
        "type": "ui_group",
        "name": "All Controls",
        "tab": "a712ba721618f35b",
        "order": 9,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8aa1c2ee1acb3040",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.8.13",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "eb5c8d156ad30bb4",
        "type": "ui_group",
        "name": "Heat Index",
        "tab": "a712ba721618f35b",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a712ba721618f35b",
        "type": "ui_tab",
        "name": "GrowBox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]